#container{

	background-color: red;
	width: 50%;
	margin: auto;
}
#header{
	text-align: center;
}
.eingabe{
	float: right;
	margin-right: 20%;	
}

#label{
	position: relative;
	left: 10px;
}
#btnBerechnen{
	position: relative;
	left: 580px;
	width: 100px;
}
#labelNetto{
	position: relative;
	left: 10px;
	font-size: 20;
}
#netto{
	position: relative;
	left: 450px;
}
